{% extends 'base.html' %}

{% block title %}{{ forum }}{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/forum.css') }}">

{% endblock %}
{% block main %}
    <h4>{{ forum }}:</h4>
    {% if top != [] %}
        <ul>
        <br>
        <div class="top-article">
            <h4>The most popular articles on the {{ forum }}:</h4>
            <li>
                    <div class="top-title">
                        <a href="{{ url_for("text",f=top[6],id=top[0]) }}">{{ top[1] }}</a>
                        ({{ top[6] }})
                        score:{{ top[11] }}
                    </div>
                    <div class="top-abstract">
                        abstract:{{ top[4] }}
                    </div>
                    <div class="top-describe">
                        describe:{{ top[5] }}
                    </div>
                    <div class="top-info">
                         <span class="top-address">
                            <a href="/author/{{ top[2] }}">{{ top[10] }}</a>
                         </span>
                         <span class="top-date">
                            {{ top[3] }}
                         </span>
                    </div>
            </li>
        </div>
    </ul>
    {% endif %}

    <ul>
        {% if articles == [] %}
            NULL
        {% endif %}
        {% for article in articles %}
{#            {% if article[2] not in blacklist and article != top%}#}
            {% if article[2] not in blacklist%}
            <li>
                <div class="article-group">
                    <div class="article-title">
                        <a href="{{ url_for("text",f=forum,id=article[0]) }}">{{ article[1] }}</a>
                        ({{ article[6] }})
                        score:{{ article[11] }}
                    </div>
                      <br>
                    <div class="article-info">
                         <span class="article-address">
                            <a href="/author/{{ article[2] }}">{{ article[10] }}</a>
                         </span>
                         <span class="article-date">
                            {{ article[3] }}
                         </span>
                    </div>

                </div>
            </li>
            {% endif %}
        {% endfor %}

    </ul>
    <center>
        <a href="/publish/{{ forum }}">
            <button type="button" class="btn btn-primary">PUBLISH</button>
        </a>
    </center>
{% endblock %}